<div>
    <select [ngModel]="selectedUserId" (change)="onChange($event)">
        <option [value]="user.id" *ngFor="let user of users; index as i" >{{user.displayName}}</option>
    </select>
</div>


<div class="chat">
    <ul>
        <li *ngFor="let comment of comments; index as i">
            <img src="assets/users/{{comment.ownerId}}.jpg">
            <div class="textContent">
                <div class="nameContent">
                    <a>{{ nameFunc(comment.ownerId) }}</a>
                    <span class="date">{{ dateFunc(comment.createdAt) }} Minutes Ago
                    </span>
                </div>
                <div *ngIf="editCommentActive === false">{{comment.txt}}</div>
                <textarea  *ngIf="editCommentActive === true" #editcommenttextarea>{{comment.txt}}</textarea>
            </div>
            <div class="edit-comment" [ngClass]="{'edit-comment-byuser': selectedUserId === comment.ownerId}">
                <button (click)="editComment(comment)">Edit Comment </button>
                <button (click)="deleteComment(comment)">Delete Comment </button>
            </div>
        </li>
    </ul>

    <div class="addComent">
        <img scr="assets/users/{{selectedUserId}}.jpg">
        <textarea #addcommenttextarea></textarea>
        <button (click)="submitComment(addcommenttextarea.value)">Submit</button>
    </div>
</div>

